# Python cache files
__pycache__/
*.py[cod]

# Environment variables
.env

# Flask session and instance folders
instance/

# Uploads folder
uploads/

# Logs and database
*.log
*.sqlite3

# OS-specific files
.DS_Store
Thumbs.db

# Virtual environment
venv/

# IDE settings
.vscode/
.idea/
